.fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 0.3s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.scaleUpCenter {
    animation: scale-up-center 0.4s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.blur-out {
    animation: blur-out 0.4s linear both
}

@keyframes blur-out {
    0% {
        filter: blur(.01px);
    }

    100% {
        filter: blur(12px);
        opacity: 0
    }
}